body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 20px 120px 50px 120px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

.header-image {
    height: 220px;
    width: auto;
}

.header-container {
    display: flex;
    gap: 30px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.header-container-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    align-self: start;
}

.cards {
    display: flex;
}

.information {
    display: flex;
    padding: 50px 120px 50px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 45px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 150px;
}

.call-to-action-img {
    display: flex;
    flex: 1;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    border-style: solid;
    border-color: #3882F6;
}

.subtext {
    display: flex;
    text-align: center;
    flex: 1;

}